<!--
   NAME: Derek Taylor
   DATE: 3/12/2020

   UPDATED BY: N/A
   UPDATE DATE: N/A
   CHANGE DESCRIPTION: N/A

-->
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
}
<br />
<br />
<div class="col">
    <h3 class="section-header-center">Join Us!</h3>
    <div class="row justify-content-center">
        <div class="image-thumb-div col-sm-4">
            <img class="img-fluid" src="~/Content/Images/Teamwork.png" />
            <a class="btn btn-dark btn-block" href="#">Retail Careers</a>
            <p>To View your career details or application status please login.</p>
        </div>
        <div class="image-thumb-div col-sm-4">
            <img class="img-fluid" src="~/Content/Images/Shelter.jpg" />
            <a class="btn btn-dark btn-block" href="#">Shelter Careers</a>
            <p>To view the Benefits you are eligible for please login.</p>
        </div>
        <div class="image-thumb-div col-sm-4">
            <img class="img-fluid" src="~/Content/Images/dog-walk.jpg" />
            <a class="btn btn-dark btn-block" href="#">Volunteer</a>
            <p>To view the Benefits you are eligible for please login.</p>
        </div>
    </div>

    <h3 class="section-header-center">Benefits</h3>
    <div class="row justify-content-center">
        <div class="image-thumb-div col-sm-4">
            <img class="img-fluid" src="~/Content/Images/piggybank.jpg" />
            <a class="btn btn-dark btn-block" href="#">401k</a>
            <p>Please login to clock in.</p>
        </div>
        <div class="image-thumb-div col-sm-4">
            <img class="img-fluid" src="~/Content/Images/Benefits.jpg" />
            <a class="btn btn-dark btn-block" href="#">Medical&amp;Dental</a>
            <p>Please login to clock in.</p>
        </div>
        <div class="image-thumb-div col-sm-4">
            <img class="img-fluid" src="~/Content/Images/training.jpg" />
            <a class="btn btn-dark btn-block" href="#">Training</a>
            <p>Please login to clock in.</p>
        </div>
    </div>

    <h3 class="section-header-center">Learn More About Us</h3>
    <div class="row justify-content-center">
        <div class="image-thumb-div col-sm-4">
            <img class="img-fluid" src="~/Content/Images/Clock.jpg" />
            <a class="btn btn-dark btn-block" href="#">Who are we?</a>
            <p>Please login to clock in.</p>
        </div>
        <div class="image-thumb-div col-sm-4">
            <img class="img-fluid" src="~/Content/Images/Clock.jpg" />
            <a class="btn btn-dark btn-block" href="#">Our Culture</a>
            <p>Please login to clock in.</p>
        </div>
        <div class="image-thumb-div col-sm-4">
            <img class="img-fluid" src="~/Content/Images/Clock.jpg" />
            <a class="btn btn-dark btn-block" href="#">Diversity and Inclusion</a>
            <p>Please login to clock in.</p>
        </div>
    </div>

    <h3 class="section-header-center">Employee Functions</h3>
    <div class="row justify-content-center">
        <div class="image-thumb-div col-sm-4">
            <img class="img-fluid" src="~/Content/Images/Clock.jpg" />
            <a class="btn btn-dark btn-block" href="#">Volunteer - Log Hours</a>
            <p>Please login to clock in.</p>
        </div>
        <div class="image-thumb-div col-sm-4">
            <img class="img-fluid" src="~/Content/Images/Clock.jpg" />
            <a class="btn btn-dark btn-block" href="#">Clock-In</a>
            <p>Please login to clock in.</p>
        </div>

    </div>
</div>