@{
	ViewBag.Title = "DonationFAQ";
	Layout = "~/Views/Shared/_InternalLayout.cshtml";
}
<head>
	<link href="~/Content/FAQ.css" rel="stylesheet" />
</head>

<div class="FAQTable">
	<div class="FAQTableHeader">
		<h2 style="color:orangered">Donation Frequently Asked Questions</h2>
	</div>
	<div class="FAQTable">
		<ul>
			<li>
				<p class="FAQquestion" style="color:orangered">Is my donation tax deductible?</p>
				<p class="FAQanswer">Yes, Pet Universe is a 501(c)3 tax-exempt organization, All donations are tax Deductible within the guidlines of U.S.law.</p>
			</li>
			<li>
				<p class="FAQquestion" style="color:orangered">Will I recieve a donation reciept for tax puropses?</p>
				<p class="FAQanswer">You will recieve an email for confirmation of your donation. This can be used as a donation reciept for your official records.</p>
			</li>
			<li>
				<p class="FAQquestion" style="color:orangered">How can I make changes to my monthly gift?</p>
				<p class="FAQanswer">Please email <a href="mailto:Donations@PetUniverse.com">Donations@PetUniverse.com</a> with your request and provide a phone number we can reach you at.</p>
			</li>
			<li>
				<p class="FAQquestion" style="color:orangered">Can I stop my monthly gift whenever I want?</p>
				<p class="FAQanswer">
					Absolutely! If you have a monthly gift through PayPal,
					you can cancel your gift by logging into your PayPal account. If you gave by credit card,
					please email us at <a href="mailto:Donations@PetUniverse.com">Donations@PetUniverse.com</a> and we’ll be happy to assist.
				</p>
			</li>
			<li>
				<p class="FAQquestion" style="color:orangered">Can I make a donation by mailing a check?</p>
				<p class="FAQanswer">
					Yes, if you prefer to donate by mail please send your check to:
					<br />
					<br />
					Pet Universe Donations<br />
					353 SomeStreet Cedar Rapids, IA 52402
				</p>
			</li>
		</ul>
	</div>
</div>

