@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Donations</h1>

<h2>This is the landing page for the Donations Domain.</h2>

<p>Eventually this will look like an actual webpage.</p>

<button>
	@Html.ActionLink("Donations FAQ", "DonationFAQ", "Donations")
</button>

<button>
    @Html.ActionLink("View Past Donations", "PastDonations", "Donations")
</button>