
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/ApplicationStyleSheet.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <nav>
        <h2>Navigation</h2>
        <a href="">Nav1</a>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
