@*
    Modified from code written by: Gabrielle Legrand
    Author: Derek Taylor
*@
<hr class="btn-outline-secondary" />
<!-- Footer Links -->
<div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">


        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3 text-center">

            <!-- Links -->
            <h5 class="text-uppercase">Work with Us</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="#!">Retail Jobs</a>
                </li>
                <li>
                    <a href="#!">Shelter Jobs</a>
                </li>
                <li>
                    <a href="#!">Applicant Instructions</a>
                </li>
            </ul>

        </div>
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3 text-center">

            <!-- Links -->
            <h5 class="text-uppercase">Benefits</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="#!">Benefits</a>
                </li>
                <li>
                    <a href="#!">Training &amp; Development</a>
                </li>
            </ul>

        </div>
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3 text-center ">

            <!-- Links -->
            <h5 class="text-uppercase">Culture</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="#!">Our Culture</a>
                </li>
                <li>
                    <a href="#!">Diversity and Inclusion</a>
                </li>
                <li>
                    <a href="#!">Press</a>
                </li>
            </ul>

        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3 text-center ">

            <!-- Links -->
            <h5 class="text-uppercase">Corporate</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="#!">About Us</a>
                </li>
                <li>
                    <a href="#!">Vendors</a>
                </li>
                <li>
                    <a href="#!">Terms and Conditions</a>
                </li>
                <li>
                    @Html.ActionLink("Donation FAQ", "DonationFAQ", "Donations")
                </li>
            </ul>

        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->

</div>
<!-- Footer Links -->
<!-- Copyright -->
<div class="container ">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 text-center">
            <h4>FOLLOW US ON SOCIAL MEDIA</h4>
            <button type="button" class="btn fab fa-twitter"><i></i></button>
            <button type="button" class="btn fab fa-facebook"><i></i></button>
            <button type="button" class="btn fab fa-linkedin"><i class=""></i></button>
            <button type="button" class="btn fab fa-reddit"><i></i></button>
        </div>
        <div class="col-md-4 text-right">
        </div>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col-md-4 text-left">
            <p>Copyright &copy; @DateTime.Now.Year - Pet Universe</p>
        </div>
        <div class="col-md-4 text-center">
            <a href="#">Terms of Use    |</a><a href="#">    Privacy Policy</a>
        </div>
        <div class="col-md-4 text-right">
            <a href="#">Contact Us</a>
        </div>
    </div>
</div>
<!-- Copyright -->
