
@{
    ViewBag.Title = "FAQ";
}

<h1 style="margin-top: 5%">Things to bring to interview</h1>
<ul style="margin-bottom: 15%">
    <li>Valid Piece of Identification<ul><li>Drivers License, Passport, Goverment Provided ID</li></ul></li>

    <li>Proof of residency<ul><li>Piece of mail with your name on it, utility bill, credit card statement</li></ul></li>

    <li>Payment information for adoption fee <ul><li>(Credit Card, Cash or check)</li></ul></li>

</ul>
