
@{
    ViewBag.Title = "PetUniverse Careers";
}

<h2>Careers at Pet Universe!</h2>
<p>Placeholder text for welcoming to the Careers landing page</p>

<button>
    @Html.ActionLink("Available Positions", "Positions", "Careers")
</button>

<button>
    @Html.ActionLink("Submitted Applications", "ApplicantList", "Careers")
</button>
